<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iTopModelPath" value="C:/_dev/itop/cmd_generated_model/_source/"/>
    <add key="SaveDirectory" value="C:/_dev/itop/cmd_generated_model/_generated/"/>

    

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>